.download-section{
    width: 100vw;
    margin: auto;
    max-width: 1440px;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: flex-start;
    padding-block: 50px;
}

.download-intro-wrapper{
    width: 100%;
}

.download-heading, .download-subheading{
    font-size: 25px;
    margin: 20px;
}

.download-paragraph{
    line-height: 25px;
    margin-block: 20px;
    padding: 20px;
    max-width: 35ch;
    margin: auto;
}

.download-card-wrapper{
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
}

.card{
    width: 70%;
    max-width: 250px;
    border-radius: 10px;
    box-shadow: 0 10px 10px 0 var(--shadow-color);
}

.card-image-wrapper{
    padding: 30px;
}

.card-heading{
    font-size: 18px;
    margin-block: 10px;
}

.card-text{
    margin-block: 10px;
}

.card-button-wrapper{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card-button{
    height: 45px;
    width: 100%;
    color: var(--neutral-white);
    background-color: var(--primary-blue);
    border-radius: 5px;
    border: none;
    font-weight: 500;
    letter-spacing: 1px;
}

@media screen and (min-width: 768px) {
    .download-paragraph{
        max-width: 50ch;
    }
}

@media screen and (min-width: 1366px) {
    .download-section{
        height: 100vh;
    }

    .download-card-wrapper{
        flex-flow: row;
        width: 90%;
        margin: auto;
        justify-content: center;
        height: 60vh;
        align-items: flex-start;
    }

    .download-paragraph{
        max-width: 50ch;
    }

    .download-heading{
        font-size: 30px;
    }

    .download-paragraph{
        font-size: 20px;
        line-height: 30px;
    }

    .card:nth-child(2){
        margin-top: 50px;
    }

    .card:nth-child(3){
        margin-top: 100px;
    }
}


@media screen and (min-width: 1920px) {
    .download-paragraph{
        font-size: 20px;
        line-height: 35px;
    }
    
    .download-heading{
        font-size: 35px;
    }
}